footer {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
}

footer h4 {
  margin-bottom: 20px;
}

.social--medias {
  display: flex;
  align-items: center;
}

.social--medias a {
  margin: 20px 10px;
}

.social--medias i{
  font-size: 25px;
  cursor: pointer;
  transition: all ease-in-out 0.5;
}

.social--medias i:hover {
  color: rgb(164, 164, 164);
  transform: scale(1.3);
}
